body{
    background: url("images/trippy2.gif")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

#pageTitle{
    font-family: 'Share Tech Mono', monospace;
    font-size: 60px;
    color: rgb(135, 226, 231);
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-shadow: 4px 4px rgb(255, 155, 155);
    animation-name: fadeIn;
    animation-duration: 2s;
    -ms-transform: translateY(150%);
    transform: translateY(150%);
}


#loginContainer{
    background-color: #ebc9e6;
    width: 250px;
    margin: auto;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    animation-name: fadeIn;
    animation-duration: 3s;
}

#loginTitleBar{
    height: 20px;
    background: linear-gradient(90deg,#9fc0fe, #ed94b5);
}

#loginFormContainer{
    display: flex;
}

#loginForm{
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#loginButton{
    margin:auto;
    background-color: #d3c9f5;
    box-shadow: inset -1px -1px #fdb2b2, inset 1px 1px #fff, inset -2px -2px #b1b1b1, inset 2px 2px #dfd3d3;
}

.window{
    box-shadow: inset -1px -1px #d5869d, inset 1px 1px #dfdfdf, inset -2px -2px #ffb5b5, inset 2px 2px #fff;
}

label{
    margin-top: 5px;
}

.accountInput{
    margin-bottom: 10px;
}

input[type=text]{
    box-shadow: inset -1px -1px #ffc5fc, inset 1px 1px #a7679f, inset -2px -2px #e5d7d7, inset 2px 2px #aeceff;
}

#desktopBar{
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#startButton{
    height: 80%;
    transform: translateY(10%);
    font-weight: bold;
    width: 100px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}